@charset "UTF-8";

/* ----------------------------------------------------------
  MAPS
---------------------------------------------------------- */

.wpumaps__map {
    height: 300px;
}

.wpumaps-marker-icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
}

/* ----------------------------------------------------------
  Preview
---------------------------------------------------------- */

.wpumaps-preview-wrapper .wpumaps__wrapper {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.wpumaps-preview-wrapper .wpumaps__wrapper .wpumaps__map {
    height: 100%;
}
