@charset "UTF-8";

/* ----------------------------------------------------------
  MAPS
---------------------------------------------------------- */

.wpumaps__map {
    height: 300px;
}

.wpumaps-marker-icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
}
